@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (preffers-color-scheme: dark) {
    .auto {
      --color-bg-base: #334155;
      --color-bg-invert: #f1f5f9;
    }
  }

  @media (preffers-color-scheme: light) {
    .auto {
      --color-bg-base: #f1f5f9;
      --color-bg-invert: #334155;
    }
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
